.ant-menu.ant-menu-dark {
  background-color: transparent;
}
.ant-layout-header {
  background-color: #002F6A;
  display: flex;
  justify-content: space-between;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: #114686;
}

.logo {
  color: white;
}

.ant-btn-primary:focus,
.ant-btn-primary {
  background-color: #002F6A;
  border-color: #002F6A;
}

.ant-btn-primary:hover {
  opacity: 0.8;
}

.header__page__home {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__page__home h1 {
  font-size: 40px;
}

.ant-input-group {
  margin: 10px 0;
}

body {
  background-color: #f0f2f5;
}

.container__loading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}